html,
body {
    margin: 0;
}
.container{
    background-color: black;
    width: 100%;
    height: 100vh;
    display: flex;
}

.color{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
    transition: 0.2s opacity;
}

.color:active {
    opacity: 0.8;
}

.color span {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: white;
    text-shadow: 1px 1px #000;
}

#form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#form input[type="text"] {
    font-size: 1rem;
    outline: 0;
    border: 2px solid white;
    background-color: #f2f2f2;
    padding: 10px;
}

#form button[type="submit"] {
    background-color: #4caf50;
    padding: 10px;
    color: white;
    font-size: 1rem;
    border: 2px solid white;
    transition: 0.2s opacity;
}

#form button[type="submit"]:hover {
    opacity: 0.8;
}